#profile-pic{
	text-align: center;
}
#schooltable{
	text-align: center;
}
#schooltable>tbody>tr>th{
	text-align: center;
}

#btn-submit{
	margin: 25px 75px;
	width: 120px;
	height: 50px;
	font-size: 22px;
}
